<div class="container login-box-frame">
    <div class="row">
        <div class="col-12 text-center">
            To Do List
        </div>

        <div class="col-12 text-center">
            <h1>Sign in</h1>
        </div>

        <div class="col-12 text-center">
            <h2> Use your To Do List Account</h2>
        </div>
    </div>

    <form class="form" #form="ngForm">
        <div class="row mt-3">
            <div class="col">
                <mat-form-field appearance="outline" [class.mat-form-field-invalid]="error">
                    <mat-label>E-Mail</mat-label>
                    <input [(ngModel)]="loginModel.email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                        autocomplete="off" name="mail" [required]="true" matInput type="email">
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline" [class.mat-form-field-invalid]="error">
                    <mat-label>Password</mat-label>
                    <input [(ngModel)]="loginModel.password" autocomplete="off" name="name" type="password"
                        [required]="true" matInput>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <span *ngIf="error" class="text-danger">Password or email address is incorrect.</span>
            </div>
        </div>
    </form>

    <div class="bottom-section">

        <div class="row flex-center-vertical ">
            <div class="col-6">
                <button mat-button color="primary" (click)="onCreateAccountClick()">Create account</button>
            </div>
            <div class="col-6" style="text-align: right;">
                <button *ngIf="!isLoading" mat-raised-button color="primary" [disabled]="!form.valid"
                    (click)="onNextClick()">Next</button>

                <div *ngIf="isLoading" class="spinner-border text-primary" role="status">
                    <span class="sr-only">Loading...</span>
                </div>

            </div>

        </div>
    </div>

</div>